<input [type]="type" [formControl]="control" [mask]="format" [dropSpecialCharacters]="false"
class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
[placeholder]="placeHolder" />
<ng-container *ngIf="control.touched && control.dirty">
    <p *ngIf="control.errors?.['required']" class="text-red-400">This Filed is Required</p>
    <p *ngIf="control.errors?.['minlength']?.requiredLength==3" class="text-red-400">For sure your name is not {{control.errors?.['minlength'].actualLength}} letter</p>
    <p *ngIf="control.errors?.['minlength']?.requiredLength==2" class="text-red-400">Clip title is at least  {{control.errors?.['minlength'].requiredLength}} letters</p>
    <p *ngIf="control.errors?.['minlength']?.requiredLength==13" class="text-red-400">Please Enter Valid Phone Number</p>
    <p *ngIf="control.errors?.['email']" class="text-red-400">Please Enter Valid E-mail</p>
    <p *ngIf="control.errors?.['min']" class="text-red-400">Sorry you can register in {{ control.errors?.['min'].min-control.errors?.['min'].actual }} years</p>
    <p *ngIf="control.errors?.['max']" class="text-red-400">{{ control.errors?.['max'].actual }} years dosn't look like your real age</p>
    <p *ngIf="control.errors?.['pattern']" class="text-red-400">- at least 8 characters <br>- must contain at least 1 uppercase letter, 1 lowercase letter, and 1 number <br> - Can contain special characters</p>
    <p *ngIf="control.errors?.['nomatching']" class="text-red-400">- Passwords do not match</p>
    <p *ngIf="control.errors?.['emailtaken']" class="text-red-400">- Email is already taken</p>
    <!-- <p *ngIf="control.errors" class="text-red-400">{{ control.errors | json }}</p>  -->
</ng-container>